* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: Montserrat, arial;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(85,96,91,0.6);
}

h1 {
    font-size: 2rem;
}

.header-name-logo{
    display: flex;
    align-items: center;
}

.logo-cv{
    max-width: 50px;
    padding: 10px ;
    background-color: black;
    margin: 0;
    border-radius: 50px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    padding: 5px;
}

.personal-summary{
    padding: 20px;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 50px;
}

li{
    list-style: none;
}

.cv-picture{
    width: 40%;
    max-width: 200px;
    border-radius: 100px;
}
