* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Montserrat, arial;
    background-color: black;
    color: white;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
    color: #55605B;
}
.title{
    padding-bottom: 40px;
}

.my-proj-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;
    height: 90vh;
}
.label {
    color: black;
}

.work-in-progress-icon {
    background-color: white;
    max-height: 80px;
    
}
.work-icon-container{
    padding: 20px 30px 30px 30px;
    background-color: white;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

p h3 strong {
    color: red;

}