* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: Montserrat, arial;
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

.page-header {
    position: sticky;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 10vh;
    min-height: 60px;
}

.header-left{
    height: 100%;
    min-height: 50px;
    max-height: 70px;
}

    .logo {
    height: 80%;    
    border-radius: 50px;
    border: 2px solid #a2a7a7;
    padding: 3px;
    }

    .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    flex-wrap: wrap;
    list-style-type: none;
    }

    .header-right a {
        color: #a2a7a7;
        text-decoration: none;
        padding: 5px;
    }
    
    .header-right a:hover {
        background-color: #a2a7a7;
        color: black;
        border-radius: 7px;
        transition: background-color 0.25s, color 0.25s;
    }
    


.main-content {
    font-family: Montserrat, arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    border-radius: 5px;
}

    .profile-picture-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
        .profile-picture {
            max-height: 200px;
            max-width: 200px;
        }

    .bio-container {
        background-color: #55605B;
        padding: 30px;
        border-radius: 100px;
        font-family: Montserrat, arial;
        height: 60%;
        width: 90%;
        display: flex;
        justify-content: center;
        margin-bottom: 2vh;
        max-height: 400px;
        max-width: 500px;
     }
     .bio-words-container {
        padding: 2%;
     }
     .bio-title {
        margin-bottom: 3%;
     }

     .soft-skills li {
        list-style-type: none;
        padding-left: 2%;
        font-weight: 200;
        font-size: 1.6rem;
     }

.buttons-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
}

     .contact-me-button{
        margin-right: 6px;
        background-color: black;
        color: #a2a7a7;
        }

     .learn-more-button {
        color: white;
     }

     .contact-me-button:hover {
        background-color: #a2a7a7;
        transform: scale(1.2);
        color: black;
     }

     .learn-more-button:hover {
        color: black;
        transform: scale(1.2);

     }

     .button:hover {
        transition: all 0.2s;
     }

 
 .about-me-container {
    color: black;
    background-color: white;
    background-color: #a2a7a7;
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    padding-left: 4vw;
    padding-right: 4vw;
    height: 100vh;
    min-height: 660px;
    border-radius: 3px;
 }

.about-paragraphs {
    padding-top: 0;
}

.about-paragraphs p {
    margin-bottom: 2vh;
    font-weight: 300;
}

.about-p0 {
    font-weight: 200;
    font-style: italic;
}

.contact-me-container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.contact-me-form {
    border-radius: 15px;
    background-color: #55605B;
    width: 95%;
    max-width: 960px;
    max-height: 90%;
    font-family: Montserrat, Arial;
    padding:3vh 3vw;
}

.contact-me-title {
    color: white;
    margin-bottom: 2vh;
}

.form-row {
    font-weight: 400;
    margin-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.first-row {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.input {
    font-family: montserrat,arial;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #a2a7a7;
    width: 100%;
    outline: none;
    padding: 3px 5px;
}

.mess-input{
    resize: none;
    height: 15vh;
}

.submit-button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: montserrat, arial;
    background-color: #55605B;
    color: white;
    padding: 6px 10px;
    margin-top: 20px;
    font-size: 1.2rem;
}

.submit-button:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.page-footer {
    padding: 20px;
    background-color: #a2a7a7;
    display: flex;
    justify-content: center;
    height: 10vh;
    min-height: 40px;
    border-radius: 3px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-icons {
    margin-right: 8px;
    height: 3vh;
    min-height: 25px;
    max-height: 50px;
    }

    .icon-1{
        margin-left: 20px;
    }

@media only screen and (min-width: 451px) and (max-width: 960px) {
    html {
        font-size: 80%;
    }
    
    .profile-picture-container{
        height: 60%;
        width: 100%;
    }

    .profile-picture{
        height: 90%;
        max-height: none;
        max-width: none;
    }
}

@media only screen and (min-width: 961px){
    html{
        font-size: 100%;
    }

    .main-content{
        flex-direction: row;
        justify-content: center;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .bio-container{
        flex: 2;
        max-height: 500px;
        max-width: 650px;
    }

    .profile-picture-container{
        order: 2;
        flex: 1;
        max-width: 650px;
    }

    .profile-picture {
        height: 100%;
        max-height: none;
        max-width: none;
    }
    
    .first-row {
        flex-direction: row;
    }
    .input {
        padding: 10px;
    }


}
